@model Vativo.UI.ViewModels.ResetPasswordViewModel
@{
    ViewBag.Title = ":: VativoRx :: Reset Password";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div id="content_container" class="zoom-newcontent">
    <div id="content_success_msg" role="alert" aria-live="assertive" class="alert alert-success hideme zoom-newmessage"></div>
    <div id="content" class="container">
        <div class="mini-layout" id="login">
            <div class="mini-layout-body">
                <div class="page-header">
                    <h1>Reset Password</h1>
                </div>
                <div class="@ViewBag.cssClass" role="alert">
                    <strong>@ViewBag.message</strong>
                </div>
                <div class="">
                    <div class="form">
                        <form method="post" class="login-form">
                            <div class="form-group">
                                <div class="controls">
                                    <label for="email" class="email-label">Email address</label>
                                    <input asp-for="Email" class="form-control input" placeholder="Enter Email ID" />
                                    <span asp-validation-for="Email" class="Validation-Color"></span>
                                    @*<strong>
                                            <span id="emailMsg" asp-validation-for="Email" class="Validation-Color"></span>
                                            <div class="@ViewBag.Class"> @ViewBag.Message</div>
                                        </strong>*@
                                </div>
                            </div>
                            @*<div class="form-group">
                                    <div class="controls">
                                        <div class=@ViewBag.Class asp-validation-summary="ModelOnly"></div>
                                    </div>
                                </div>*@
                            <div class="form-group">
                                <div class="controls">
                                    <div class="signin">
                                        <input type="submit" value="Reset Password" class="btn btn-primary btn-round submit signin user" />
                                    </div>
                                </div>
                                <div class="col-md-8 col-sm-6 col-xs-12 back-area backPad">
                                    Already have an account? <a href="@Url.Action("login", "user")">Login</a>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    window.onload = function () {
        document.getElementById("Email").value = "";
    };

    function checkEmail() {
        var email = $('#Email').val();
        if ($.trim(email).length == 0) {
            $('#emailMsg').html("Please Enter Valid Email Address");
            return false;
        }
        if (!validateEmail(email)) {
            $('#emailMsg').html("Invalid Email Address");
            return false;
        }
        else {
            $('#emailMsg').html("Valid Email Address");
            return true;
        }
        return true;
    }

    window.setTimeout(function () {
        $(".alert").fadeTo(500, 0).slideUp(500, function () {
            $(this).remove();
        });
    }, 4000);

</script>